<section id="header">

    <div class="left">
        <a href="/profile" class="profile decide"><i class="fa-solid fa-user"></i></a>
        <a href="#"><img src="/logo.png" class="logo"alt="logo"/></a>
    </div>
    <div>
        <ul id="navbar">
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/shop" >Shop</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#" onclick="confirmLogout()" class="decide">LogOut</a></li>
            <li><a href="/cart" id="cart-bag"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div class="mobile">
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <i id="bar" class="fa-solid fa-bars"></i>
    </div>
</section>